@model string

@{
    ViewData["Title"] = "Confirmation";
    Layout = "_LayoutAnonymous";
}

<div class="d-flex justify-content-center mt-5">

    <div class="col-12 col-md-5 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white text-center">
                <h5>Confirmation Message</h5>
            </div>

            <div class="card-body text-center">

                <div class="alert alert-info">
                    <p class="mb-2">@Model</p>
                    <a class="btn btn-primary btn-sm" asp-controller="Login" asp-action="Index">Ir al Login</a>
                </div>

            </div>
        </div>
    </div>

</div>
