@using SocialNetwork.Core.Application.ViewModels.User
@model UserLoginViewModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LayoutAnonymous";
}

<div class="d-flex justify-content-center mt-5">

    <div class="col-12 col-md-4">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h5>Iniciar sesión</h5>
            </div>

            <div class="card-body">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <form asp-controller="Login" asp-action="Index" method="POST">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input class="form-control" asp-for="Email" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input class="form-control" asp-for="Password" type="password" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mb-2">Iniciar sesión</button>
                    <a asp-controller="Login" asp-action="Register" class="btn btn-outline-secondary w-100">Registrarse</a>
                    <div class="d-flex justify-content-between mb-3">
                        <a asp-controller="Login" asp-action="ForgotPassword" class="small"> ¿Olvidaste tu contraseña?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
